
html{
    height: 100%;
}

header{
    z-index: 1000;
    /* min-height: 55px; */
}
footer{
    z-index: 1000;
}

body{
    height: 100%;
}
main{
    padding-top: 7%;
}
section{
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 0%;
    margin-right: 0%;
}
img {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}


/* Design System Color */
.design-white{
    color: white;
}
.design-bg-black{
    background-color: black;
}
/* 聯絡我們 按鈕樣式 */
.contact-Us{
    text-align: center;
    background-color: #FEAA34;
    padding: 0;
}
.hc-font{
    line-height: 60px;
    color: #343a40;

}
.contact-Us:hover{
    cursor: pointer;
    background-color: #343a40;
}
.hc-font:hover{
    color: white;
}



.bg-system{
    background-color: #FEAA34;
}

@media (max-width: 991.98px) {
    .navbar-nav{
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .nav-item{
        padding-top: 10px;
        padding-left: 5px;
        border-color: rgb(116, 116, 116);
        border-bottom-style:solid;
        border-width: 1px;
    }
} 

.intro-title{
    margin-bottom: -50px;
}
.intro-item{
    padding-top: 50px;
}

.advantage-title{
    margin-bottom: -50px;
}
.advantage-item{
    padding-top: 50px;
}

.option-title{
    margin-bottom: -50px;
}
.option-item{
    padding-top: 50px;
}
.option-divider{
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: rgba(255, 255, 255, 0.5);
    border-bottom-style: solid;
}

h5{
    color: #FEAA34;
}
h6{
    color: #FEAA34;
}

.Product-checkout{
    margin-top: 20px;
}

.ref-link > a,.footer-link > a{
    text-decoration: none;
}

.Footer-note-Intro, .Footer-note-Service{
    padding-top: 5%;
    padding-bottom: 5%;
}
.Footer-note-Service > div > div{
    padding-bottom: 5%;
}

.project-process {
    padding-top: 5%;
}

/* 大小購物車寬度 */
#small-cart-list, #big-cart-list {
    min-width: 330px;
}
.cartItem-subtitle{
    color: gray;
    font-size: 0.8rem;
}


.position-sticky{
    top:30px;
}

/* Date picker樣式修改*/
#startDate::-webkit-calendar-picker-indicator, #endDate::-webkit-calendar-picker-indicator{
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}


/* 備註樣式修改 */
#commentArea::placeholder{
    color: revert;
}
#commentArea:not(:focus)::placeholder{
    color: transparent;
}


.row{
    margin-left: 0%;
    margin-right: 0%;
}

/* 服務項目頁面樣式 */
#PersonalOption, #InterviewOption, #MvOption {
    color: gray;
}

#PersonalOption:hover, #InterviewOption:hover, #MvOption:hover {
    color: white;
}

